<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desperado.apitoken.dao.TokenDao">
    <select id="isTokenAvailable" resultType="TokenBean">
        select id,phone,token,expire_time AS expireTime from t_token WHERE  phone=#{phone}
    </select>

    <insert id="saveOrUpdageToken">
        INSERT INTO t_token(
        phone,
        token,
        expire_time
        ) VALUES (
        #{phone},
        #{token},
        #{expireTime}
        )
        ON DUPLICATE KEY UPDATE token=#{token},expire_time=#{expireTime}
    </insert>
</mapper>